* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.ft-center{
    text-align: center;
}

.ft-color {
    color: #8F8F8F;
    font-weight: bold;
}

.ft-size15{
    font-size: 15px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

body {
    background-color: #fff8f3;
}




.header {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 3px solid #ddd;
    padding: 20px;
}

.header .logo {
    height: 100%;
}

.header .logo img {
    width: auto;
    height: 100%;
}

.header .select-type {
    position: absolute;
    bottom: 20px; left: 20px;
    width : 200px; height: 40px;
    background: none;
    border: none;
    font-weight: bold;
}

.helper-list-container {
    display: grid;
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 40px;
    overflow: hidden;
}

.helper-list-container .helper-search-form {
    background-color: #FFFFFF;
    height: 884px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    padding-top: 20px;

}

.select-container-1 {
    width: 100%;
}

.select-container-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.select-container-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.select-container-4 {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
}

.select-container-item {
    width: 100%;
    border: 2px solid #eee;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    background: none;
    color: #8F8F8F;
}

.select-container-item:focus {
    border: 2px solid #725152;
}

.helper-list-container .helper-search-form .filter-list {
    padding-left: 20px;
    padding-right: 20px;
    
}
.filter-list b {
    line-height: 32px;
}

.helper-list-container .helper-search-form .filter-list .filter-list-item{
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    row-gap: 15px;
}

.fast-match-button {
    width: 20%;
    border: 2px solid #eee;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    background: none;
    color: #8F8F8F;
    position:absolute;
    top:60px;
    right:20px;
}
.fast-match-button:hover{
    cursor : pointer;

}
.fast-match-button:hover + .match-text{
    display: block;
    
}
.match-text {
    padding: 8px;
    background-color: #8F8F8F;
    border-radius: 5px;
    color: #ffffff;
    position: absolute;
    display: none;
    top:100px;
    right:20px;
}
.helper-list-container .helper-list-searched-container {
    background-color: #FFF;
    height: 884px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}


.search-helper-button {
    display: block;
    position: absolute;
    bottom: 30px; left: 50%;
    transform: translateX(-50%);
    width: 90%; height: 40px;
    background-color: #725F51;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.helper-list-searched-container .options-container {
    width: 100%;
    height: 50px;
    position: relative;
}

.helper-list-searched-container .options-container .sorted-option {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px 7px;
    
    background: none;    
    border: 1.5px solid #eee;
    border-radius: 5px;
}

.helper-list-searched-container .helper-list-searched {
    height: 600px !important;
    overflow-y: scroll;
    margin: 10px;

}

.helper-list-searched-container .title {
    background-color: #725F51;
    padding: 0 25px;
    color: #fff;
    height: 67px;
    line-height: 67px;
    font-weight: bold;
    font-size: 18px;
}

.helper-list-searched-container .title span{
    color: #fff;
}



.helper-list-searched .helper-list-searched-item {
    display: flex;
    justify-content:space-between;
    height: 150px;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 5px;
    border: 1px solid #eee;
    
}

.helper-list-searched .helper-list-searched-item .profile {
    border-radius: 50%;
    width: 79px; height: 79px;

}

.helper-list-searched .helper-list-searched-item .description {
    width: 70%;
}

.helper-list-searched-item .description .name{
    font-size: 18px;
    line-height: 26px;
    height: 26px;
    font-weight: bold;
    margin-bottom: 8px;
}
.helper-list-searched-item .description .region{
    font-size: 14px;
    color: #725F51;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.helper-list-searched-item .description .time-range{
    color: #725F51;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.time-range span.materail-time {
    list-style: 20px;
    height: 20px;
}

.time-range span {
    color: #725F51;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
}

.helper-list-searched-item .description .career-list{
    padding: 10px;
}

.helper-list-searched-item .description .career{
    background-color: #EBEAEA;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
    color: #333
}




@media screen and (max-width: 670px) {
    .header .select-type {
        width: 100px;
    }

    .helper-list-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .helper-list-container .helper-search-form .filter-list .filter-list-item {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}
