* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.time-setting {
  width: 70%;
  margin: 20px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

div.ant-table-cell {
  margin: -1rem -1rem !important;
  height: 3.6rem !important;
}

.filter-list-item {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: space-between;
}

.ant-select-selector {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
  color: #555 !important;
}

#add-btn {
  padding: 10px 20px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
  background-color: #93796a;
  color: #fff;
}
