.mypage-edit-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.side-menu {
    width: 15%;
    float: left;
    height: 100%;
    background-color: #fff;
}

.mypage-edit-form {
    width: 70%;
    float: left;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.edit-form{
    width: 80%;
    height : 750px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 18px;
    position: relative;
}

.side-menu ul li {
    
    padding: 0 7px;
    border-bottom: 1px solid #EBEAEA;
}
.side-menu ul li a {
    display: block;
    padding: 30px;
    font-size: 24px;
    color: #2f3253;
    font-weight: 700;
    text-decoration: none;
}

.edit-form li {
    margin: 25px 5px;
}

.edit-form label {
    display: inline-block;
    height: 54px;
    border-radius: 5px 0px 0px 5px;
    background-color: #725f51;
    line-height: 54px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    width: 200px; 
    margin: 0;
}

.edit-form input {
    margin: 0;
    border: 1px solid #EBEAEA;
    border-radius: 0 5px 5px 0;
    line-height: 54px;
    height: 54px;   
    transform: translateY(-3px);
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
}


.edit-form input.w40 {
    width: 40%;
}

.edit-form input.w80 {
    width: 80%;
}


.edit-form hr {
    height: 2px solid #EBEAEA;
    margin: 20px 50px 20px 0;
}

.signout_btn {
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #707070;
    font-size: 18px;
    font-weight: 700;
    margin-right: 50px;
}

.btn-container {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: auto;
}