.profile-container {
    background-color: #FFFFFF;
    height: 186px;
    width: 1200px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    margin: 2px;
}
.profile-container .helper-name {
    font-weight: 700;
    font-size: 24px;
}

.user-mypage-helper-usage-history.write-review {
    width: 580px;
    
}

.write-review-1 {
    height: 300px !important;
}

.write-review-2 {
    height: 390px !important;
}

.write-review-3 {
    height: 710px !important;
}

.temp-0-1 {
    line-height: 67px;
    margin: 5px 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
} 

.temp-0-1 span {
    font-size: 30px;
}

.textarea-temp-0-1 {
    width: 96%;
    margin: 2%;
    height: 610px;
    border: 1px solid #ddd;
    resize: none;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 600;
    padding: 10px;
    font-family: 'Noto Sans KR';
    color: #141515;
    background: none;
    line-height: 35px;
}

.temp-0-1-select {
    width: 40%;
    margin: 2% 0 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 21px;
    font-weight: 600;
}